// Color
@green: #75eb01;

// Mix
._blur(@blur) {
	-webkit-filter: blur(@blur);
	-moz-filter: blur(@blur);
	filter: blur(@blur);
}

._transition-delay(@transition, @delay) {
	-webkit-transition: 			@transition;
	-webkit-transition-delay: @delay;
	-o-transition:						@transition;
	-o-transition-delay: 			@delay;
	-moz-transition:					@transition;
	-moz-transition-delay: 		@delay;
	transition: 							@transition;
	transition-delay: 				@delay;
}

.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}