$bg: #f8f8f8;

$green:			 #b3e000;
$green-2:		 #ccff00;
$green-3:		 #8fb300;
$yellow:		 #f3e800;
$orange:		 #ff7800;
$orange-2:	 #ff9c00;
$red-dark:	 #bc0023;
$blue:			 #4aaaff;
$blue-2:		 #4cecff;
$purple:		 #7900ab;
$purple-2:	 #b400ff;
$gray-light: #f8f8f8;


$fb: #3c5a98;
$vk: #48729e;
$tw: #00aced;
$in: #9d7144;
$wa: #88bb4b;