$bg: #f8f8f8;

$green:		 #75eb01;
$green-2:  #40b759;
$yellow: 	 #f3e800;
$red-dark: #bc0023;
$blue: 		 #0097d9;
$purple: 	 #b400ff;
$gray-light: #f8f8f8;

// Gradient
$g_blue1: #00e4ff;
$g_blue2: #0084ff;

$fb: #3c5a98;
$vk: #48729e;
$tw: #00aced;
$in: #9d7144;
$wa: #88bb4b;